@import '_variables';
@import 'custom-table';
@import 'mixins';
@import 'slider';
@import 'custom.scss';

.custom-form-control, .custom-btn{
    border:1px solid #ebebeb;
    box-shadow:none;
    border-radius:2px;
    font-size:14px;
    color:#868686;
    padding:6px 16px 7px 16px;
    transition: all .3s ease;
}

.custom-navbar .container .custom-form-control:focus{
    border-color:$btn-danger-color-dark;
    box-shadow: 0 0 2px 0 $btn-danger-color-dark;
}

.custom-btn:hover{
    background-color:#d4d4d4;
    border:1px solid #8c8c8c;
    color:$btn-primary-color-dark;
}

.custom-navbar {
    .search-btn{
        background-color:$brand-danger;
        border-color:$brand-danger;
        color:#fff;
        padding:4px 15px 6px 15px;
        font-size:15px;
        font-weight:700;
        border-radius:0;
        transition: all .5s ease; 
        
        &:hover,
        &:active,
        &:focus,
        &:active:hover,
        &:active:focus{
        background-color:$btn-danger-color-dark;
        color:#fff;
        border-color:$btn-danger-color-dark;
        }
    }

    .navbar-nav li.active a.nav-link{
        color: $brand-danger !important;
        border-bottom:1px solid $brand-danger;
        font-weight:700;
    }
}
   
#carousel-featured .carousel-item .product-details .custom-btn-primary{
    color:$brand-primary;
    border-color:$brand-primary;
    background-color: transparent; 
    padding:9px 25px;
    margin-top:15px;
    font-size:18px;
    border-radius:2px;   
}

.custom-btn-primary{
    @include button-style($brand-primary);
}

.custom-btn-danger{
    background-color: transparent;
    color:$brand-danger;
    border-color:$brand-danger;
    border-radius:3px;

    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus{
        color:$btn-danger-color-dark;
        border-color:$btn-danger-color-dark;
        background-color: transparent;
    }

}

